.wrap {
  display: grid;
  grid-template-columns: 3fr 9fr;
  align-items: center;

}
.message {
  color: white;
}
.dialog {
  margin: 2em;
}
.dialog a{
  display: flex;
  align-items: center;
}
.dialogAvatar {
  width: 50px;
  border-radius: 50%;
}